/* Global style */

body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
    color: aliceblue;
    font-size: 20px;
    margin: 5px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Text styling */

.text-text {
  text-align: center;
}

.sub-text {
  
  text-align: center;
}

/* Styling for controls and buttons */

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

button {
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 20px;
  color: aliceblue;
  border: 2px solid aliceblue;
  background-color: #3e3e3e;
  transition-duration: 0.4s;
  z-index: 5;
}

button:hover {
  background-color: #04AA6D;
}

.noSpotifyButton:hover {
  background-color: red;
  cursor: not-allowed;
}

input {
  font-size: 20px;
  margin: 10px;
}

/* List styling */

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(20% - 20px), 1fr));
  gap: 10px; 
  max-width: 100vw;
  overflow-x: scroll;
}

.list-items:hover > .list-item {
  opacity: 0.3;
}

.list-items:hover > .list-item:hover {
  opacity: 1; 
}

.list-item {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  max-height: 300px;
  max-width: 200px;
  padding: clamp(1rem, 1vw, 1rem) 0.5rem;
  transition: opacity 400ms ease;
}

.list-item:hover .overlay {
  display: block;
}

.item-text {
  word-wrap: break-word;
  max-height: 70vh;
  padding: clamp(0.25rem, 0.5vw, 0.25rem) 0rem;
  transition: opacity 400ms ease;
}

.item-img {
  cursor: pointer;
  max-width: 200px;
  max-height: 200px;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
}

.now-playing-list {
  display: flex;
  justify-content: center;
  gap: 10px; 
  max-width: 100vw;
  overflow-x: scroll;
}

.now-playing-item {
  max-width: 100%;
  padding: clamp(1rem, 1vw, 1rem) 0.5rem;
}

.item-container {
  display: flex;
  align-items: center;
}

.image-container {
  flex: 0 0 auto;
  position: relative;
  margin-right: 30px;
}

.spotify-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
}

.spotify-image-container .item-img{
  width: 100px; 
  height: 100px;
  margin-left: 10px;
  display: block; 
  z-index: 99;
}

.spotify-image-container .placeholder-square {
  width: 100px; 
  height: 100px; 
  margin-left: 10px;
  display: block;
  background-color: transparent;
}

.image-container:hover .overlay {
  display: block;
}

.text-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}


/* Overlay styling */
.overlay {
  position: absolute;
  cursor: pointer;
  display: none;
  width: 200px;
  height: 120px;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.overlay-text {
  position: absolute;
  width: 100%;
}

.overlay-text.top {
  top: 5%;
  font-weight: bold;
}
.overlay-text.bottom {
  bottom: 10%;
}
.overlay-text.bottom:hover{
  bottom: 5%;
}

#background-pattern {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%, 
    transparent 9%
  );
  background-position: 0 0;
  background-size: 12vmin 12vmin;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 800ms ease, 
    background-size 800ms ease,
    background-position 800ms ease;
  width: 100vw;
  z-index: -1; 
  pointer-events: none; 
}
